<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-transaction-heading">Create or edit a Transaction</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_quantity">Quantity</label>
                    <input type="text" class="form-control" name="quantity" id="field_quantity"
                           formControlName="quantity"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" formControlName="type" id="field_type">
                        <option value="BUY">BUY</option>
                        <option value="SELL">SELL</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_paper">Paper</label>
                    <select class="form-control" id="field_paper" name="paper" formControlName="paper">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="paperOption.id === editForm.get('paper')!.value?.id ? editForm.get('paper')!.value : paperOption" *ngFor="let paperOption of papers; trackBy: trackById">{{ paperOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_brokerageNote">Brokerage Note</label>
                    <select class="form-control" id="field_brokerageNote" name="brokerageNote" formControlName="brokerageNote">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brokerageNoteOption.id === editForm.get('brokerageNote')!.value?.id ? editForm.get('brokerageNote')!.value : brokerageNoteOption" *ngFor="let brokerageNoteOption of brokeragenotes; trackBy: trackById">{{ brokerageNoteOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
