<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="position">
            <h2><span>Position</span> {{ position.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Paper</span></dt>
                <dd>
                    <div *ngIf="position.paper">
                        <a [routerLink]="['/paper', position.paper?.id, 'view']">{{ position.paper?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/position', position.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
