<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-brokerage-note-heading">Create or edit a Brokerage Note</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_number">Number</label>
                    <input type="text" class="form-control" name="number" id="field_number"
                           formControlName="number"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_emoluments">Emoluments</label>
                    <input type="number" class="form-control" name="emoluments" id="field_emoluments"
                           formControlName="emoluments"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_liquidation">Liquidation</label>
                    <input type="number" class="form-control" name="liquidation" id="field_liquidation"
                           formControlName="liquidation"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_otherTaxes">Other Taxes</label>
                    <input type="number" class="form-control" name="otherTaxes" id="field_otherTaxes"
                           formControlName="otherTaxes"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_value">Value</label>
                    <input type="number" class="form-control" name="value" id="field_value"
                           formControlName="value"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_broker">Broker</label>
                    <select class="form-control" id="field_broker" name="broker" formControlName="broker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brokerOption.id === editForm.get('broker')!.value?.id ? editForm.get('broker')!.value : brokerOption" *ngFor="let brokerOption of brokers; trackBy: trackById">{{ brokerOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_broker">Broker</label>
                    <select class="form-control" id="field_broker" name="broker" formControlName="broker">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="brokerOption.id === editForm.get('broker')!.value?.id ? editForm.get('broker')!.value : brokerOption" *ngFor="let brokerOption of brokers; trackBy: trackById">{{ brokerOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
