<div>
    <h2 id="page-heading">
        <span>Papels</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-papel" [routerLink]="['/papel/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Papel
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="papels?.length === 0">
        <span>No papels found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="papels && papels.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Codigo</span></th>
                    <th scope="col" ><span>Nome</span></th>
                    <th scope="col" ><span>Preco Mercado</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let papel of papels ;trackBy: trackId">
                    <td><a [routerLink]="['/papel', papel.id, 'view']">{{ papel.id }}</a></td>
                    <td>{{ papel.codigo }}</td>
                    <td>{{ papel.nome }}</td>
                    <td>{{ papel.precoMercado }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/papel', papel.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/papel', papel.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(papel)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
